@font-face {
    font-family: NFS;
    src: url(../font/nfs_font.ttf);
}

html, body {
    height: 100%;
}

*, :before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-family: NFS;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

.video-responsive {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.canvas,
.video {
    height: 80vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #000;
    z-index: 5;
}

#over_video {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 0;
    z-index: 10;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-logo {
    margin-top: 30%;
}

.wrapper-logo div {
    position: relative;
    color: white;
    font-size: 18vw;
    line-height: .75;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    transform: translateX(-21%);
}

.wrapper-logo div:before {
    content: attr(data-local);
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    transform-origin: bottom;
    font-size: inherit;
    letter-spacing: 4px;
}

.wrapper-logo div:nth-child(1):before {
    transform: rotateX(56deg) scaleX(1.3) translate(11%, -2%);
    -webkit-transform: rotateX(56deg) scaleX(1.3) translate(11%, -2%);
}

.wrapper-logo div:nth-child(2):before {
    transform: rotateX(56deg) scaleX(1) translate(4%, -2%);
    -webkit-transform: rotateX(56deg) scaleX(1) translate(4%, -2%);
}



.wrapper-buttons {
    display: inherit;
    justify-content: space-around;
    margin-top: 20%;
    width: 100vw;
    max-width: 600px;
}

.wrapper-buttons a {
    position: relative;
    display: block;
    width: 240px;
    height: 71px;
}

.wrapper-buttons img {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
    -webkit-transition: filter 0.5s linear;
    -o-transition: filter 0.2s linear;
    transition: filter 0.2s linear;
    will-change: filter;
}

.wrapper-buttons a:hover img {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

.logo {
    width: 70%;
    margin: auto;
}

@media screen and (max-height: 500px) {
    #over_video {
        margin-top: 2% !important;
        height: 100vh !important;
    }

    .logo {
        width: 80%;
    }

    .wrapper-buttons {
        margin-bottom: 0;
        width: 60%;
    }
}



@media only screen and (min-width: 768px) {
    #over_video {
        margin-top: 20vh;
        height: 50vh;
    }

    .canvas,
    .video {
        height: 100%;
    }

    .wrapper-buttons {
        justify-content: space-between;
        margin-bottom: 0;
    }

    .wrapper-logo div {
        font-size: 100px;
    }
}

@media only screen and (min-width: 900px) {

    #over_video {
        height: 60vh;
    }

    .logo {
        width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper-logo {
        margin-top: 5%;
    }

    .wrapper-buttons {
        margin-top: 5%;
    }
}







