html, body {
    height: 100%;
}

*, :before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

figure {
    margin: 0;
}

.video-responsive {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.canvas,
.video {
    height: 90vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #000;
    z-index: 5;
}

#over_video {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 0;
    z-index: 10;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-buttons {
    display: inherit;
    justify-content: space-around;
    margin-bottom: -30%;
    width: 100vw;
    max-width: 600px;
}

.logo {
    width: 70%;
    margin: auto;
}

.button {
    cursor: pointer;
    width: 45%;
}

img {
    width: 100%;
    margin: auto;
}

@media screen and (max-height: 500px) {
    #over_video {
        margin-top: 2% !important;
        height: 100vh !important;
    }

    .logo {
        width: 80%;
    }

    .wrapper-buttons {
        margin-bottom: 0;
        width: 60%;
    }

    .button {
        width: 40%;
    }
}



@media only screen and (min-width: 768px) {
    #over_video {
        margin-top: 20vh;
        height: 50vh;
    }

    .canvas,
    .video {
        height: 100%;
    }

    .button {
        width: 200px;
    }

    .wrapper-buttons {
        justify-content: space-between;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 900px) {

    #over_video {
        height: 60vh;
    }

    .logo {
        width: 500px;
    }
}







