html, body {
    height: 100%;
}

*, :before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

.video-responsive {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.canvas,
.video {
    height: 80vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #000;
    z-index: 5;
}

#over_video {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 0;
    z-index: 10;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-logo {
    margin-top: 30%;
}

.wrapper-buttons {
    display: inherit;
    justify-content: space-around;
    margin-top: 20%;
    width: 100vw;
    max-width: 600px;
    /* opacity: 0;
    animation: fade ease forwards .5s;
    animation-delay: 4s; */
}

.wrapper-buttons a {
    position: relative;
    display: block;
    width: 240px;
    height: 71px;
}

.wrapper-buttons img {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
    -webkit-transition: filter 0.5s linear;
    -o-transition: filter 0.2s linear;
    transition: filter 0.2s linear;
    will-change: filter;
}

.wrapper-buttons a:hover img {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

.logo {
    width: 70vw;
    margin: auto;
}

.st0 {
    opacity: 0.3;
}

.st1 {
    fill: #B0B0B1;
}

.st2 {
    fill: #FFFFFF;
} 

/* .st1 {
    display: inline;
    fill: transparent;
}

.st2 {
    display: inline;
    fill: transparent;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-miterlimit: 10;
} */

/* #logo .st2 {
    stroke-dasharray: 1047px;
    stroke-dashoffset: 1047px;
    animation: fadeZ ease forwards 2s, line-animation ease forwards 4s, box-shadow 2s ease forwards 4s;
    transform-origin: center;
}

#logo .st1 {
    animation: box-shadow ease forwards 2s;
    animation-delay: 4s;
} */

/* .st2 {
    stroke: #88CE02;
    stroke-width: 5px;
} */

@media screen and (max-height: 500px) {
    #over_video {
        margin-top: 0 !important;
    }

    .logo {
        width: 50vw;
    }

    .wrapper-buttons {
        margin-top: 0;
        margin-bottom: 0;
        width: 60%;
    }

    .wrapper-logo {
        margin-top: 0;
    }
}



@media only screen and (min-width: 768px) {
    #over_video {
        margin-top: 20vh;
        height: 50vh;
    }

    .canvas,
    .video {
        height: 100%;
    }

    .wrapper-buttons {
        justify-content: space-between;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 900px) {

    #over_video {
        height: 60vh;
    }

    .logo {
        width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper-logo {
        margin-top: 5%;
    }

    .wrapper-buttons {
        margin-top: 5%;
    }
}




/* @keyframes line-animation {
    from {
        stroke-dasharray: 500px;
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes box-shadow {
    to {
        fill: white;
        stroke: none;
    }
}

@keyframes fadeZ {
    from {
        transform: scale(0.4);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */










